# <center> World Happiness Analysis: Data Wrangling & Consistency Checks </center>

## Contents:
### 1. Import libraties & data
### 2. Data wrangling
### 3. Data consistency checks 
### 4. Append datasets
### 5. Export data

## 01. Import libraries & data

In [2]:
import pandas as pd
import numpy as np
import os
import seaborn as sns
import matplotlib.pyplot as plt
import scipy

In [3]:
path = r'C:\Users\thang\Desktop\Data Analytics\Data Analytics Immersion\Final Project\World Happiness Analysis\2. Data'

In [4]:
data_2015 = pd.read_csv(os.path.join(path, 'Original', '2015.csv'), index_col = False)
data_2016 = pd.read_csv(os.path.join(path, 'Original', '2016.csv'), index_col = False)
data_2017 = pd.read_csv(os.path.join(path, 'Original', '2017.csv'), index_col = False)
data_2018 = pd.read_csv(os.path.join(path, 'Original', '2018.csv'), index_col = False)
data_2019 = pd.read_csv(os.path.join(path, 'Original', '2019.csv'), index_col = False)

## 02. Data Wrangling

### 2015 Data

In [5]:
data_2015.head()

,Country,Region,Happiness Rank,Happiness Score,Standard Error,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Switzerland,Western Europe,1,7.587,0.03411,1.39651,1.34951,0.94143,0.66557,0.41978,0.29678,2.51738
1,Iceland,Western Europe,2,7.561,0.04884,1.30232,1.40223,0.94784,0.62877,0.14145,0.43630,2.70201
2,Denmark,Western Europe,3,7.527,0.03328,1.32548,1.36058,0.87464,0.64938,0.48357,0.34139,2.49204
3,Norway,Western Europe,4,7.522,0.03880,1.45900,1.33095,0.88521,0.66973,0.36503,0.34699,2.46531
4,Canada,North America,5,7.427,0.03553,1.32629,1.32261,0.90563,0.63297,0.32957,0.45811,2.45176

In [6]:
# rename columns
data_2015.rename(columns = {'Economy (GDP per Capita)':'GDP','Health (Life Expectancy)':'Life Expectancy','Trust (Government Corruption)':'Corruption'}, inplace = True)

In [7]:
# checking dimensions
data_2015.shape

(158, 12)

In [8]:
# check the descriptive stats
data_2015.describe()

,Happiness Rank,Happiness Score,Standard Error,GDP,Family,Life Expectancy,Freedom,Corruption,Generosity,Dystopia Residual
count,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000,158.000000
mean,79.493671,5.375734,0.047885,0.846137,0.991046,0.630259,0.428615,0.143422,0.237296,2.098977
std,45.754363,1.145010,0.017146,0.403121,0.272369,0.247078,0.150693,0.120034,0.126685,0.553550
min,1.000000,2.839000,0.018480,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.328580
25%,40.250000,4.526000,0.037268,0.545808,0.856823,0.439185,0.328330,0.061675,0.150553,1.759410
50%,79.500000,5.232500,0.043940,0.910245,1.029510,0.696705,0.435515,0.107220,0.216130,2.095415
75%,118.750000,6.243750,0.052300,1.158448,1.214405,0.811013,0.549092,0.180255,0.309883,2.462415
max,158.000000,7.587000,0.136930,1.690420,1.402230,1.025250,0.669730,0.551910,0.795880,3.602140

In [9]:
# check the data types
data_2015.dtypes

Country               object
Region                object
Happiness Rank         int64
Happiness Score      float64
Standard Error       float64
GDP                  float64
Family               float64
Life Expectancy      float64
Freedom              float64
Corruption           float64
Generosity           float64
Dystopia Residual    float64
dtype: object

### 2016 Data

In [10]:
data_2016.head()

,Country,Region,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,Economy (GDP per Capita),Family,Health (Life Expectancy),Freedom,Trust (Government Corruption),Generosity,Dystopia Residual
0,Denmark,Western Europe,1,7.526,7.460,7.592,1.44178,1.16374,0.79504,0.57941,0.44453,0.36171,2.73939
1,Switzerland,Western Europe,2,7.509,7.428,7.590,1.52733,1.14524,0.86303,0.58557,0.41203,0.28083,2.69463
2,Iceland,Western Europe,3,7.501,7.333,7.669,1.42666,1.18326,0.86733,0.56624,0.14975,0.47678,2.83137
3,Norway,Western Europe,4,7.498,7.421,7.575,1.57744,1.12690,0.79579,0.59609,0.35776,0.37895,2.66465
4,Finland,Western Europe,5,7.413,7.351,7.475,1.40598,1.13464,0.81091,0.57104,0.41004,0.25492,2.82596

In [11]:
# rename columns
data_2016.rename(columns = {'Economy (GDP per Capita)':'GDP','Health (Life Expectancy)':'Life Expectancy','Trust (Government Corruption)':'Corruption'}, inplace = True)

In [12]:
# checking dimensions
data_2016.shape

(157, 13)

In [13]:
# check the descriptive stats
data_2016.describe()

,Happiness Rank,Happiness Score,Lower Confidence Interval,Upper Confidence Interval,GDP,Family,Life Expectancy,Freedom,Corruption,Generosity,Dystopia Residual
count,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000,157.000000
mean,78.980892,5.382185,5.282395,5.481975,0.953880,0.793621,0.557619,0.370994,0.137624,0.242635,2.325807
std,45.466030,1.141674,1.148043,1.136493,0.412595,0.266706,0.229349,0.145507,0.111038,0.133756,0.542220
min,1.000000,2.905000,2.732000,3.078000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.817890
25%,40.000000,4.404000,4.327000,4.465000,0.670240,0.641840,0.382910,0.257480,0.061260,0.154570,2.031710
50%,79.000000,5.314000,5.237000,5.419000,1.027800,0.841420,0.596590,0.397470,0.105470,0.222450,2.290740
75%,118.000000,6.269000,6.154000,6.434000,1.279640,1.021520,0.729930,0.484530,0.175540,0.311850,2.664650
max,157.000000,7.526000,7.460000,7.669000,1.824270,1.183260,0.952770,0.608480,0.505210,0.819710,3.837720

In [14]:
# check the data types
data_2016.dtypes

Country                       object
Region                        object
Happiness Rank                 int64
Happiness Score              float64
Lower Confidence Interval    float64
Upper Confidence Interval    float64
GDP                          float64
Family                       float64
Life Expectancy              float64
Freedom                      float64
Corruption                   float64
Generosity                   float64
Dystopia Residual            float64
dtype: object

### 2017 Data

In [15]:
data_2017.head()

,Country,Happiness.Rank,Happiness.Score,Whisker.high,Whisker.low,Economy..GDP.per.Capita.,Family,Health..Life.Expectancy.,Freedom,Generosity,Trust..Government.Corruption.,Dystopia.Residual
0,Norway,1,7.537,7.594445,7.479556,1.616463,1.533524,0.796667,0.635423,0.362012,0.315964,2.277027
1,Denmark,2,7.522,7.581728,7.462272,1.482383,1.551122,0.792566,0.626007,0.355280,0.400770,2.313707
2,Iceland,3,7.504,7.622030,7.385970,1.480633,1.610574,0.833552,0.627163,0.475540,0.153527,2.322715
3,Switzerland,4,7.494,7.561772,7.426227,1.564980,1.516912,0.858131,0.620071,0.290549,0.367007,2.276716
4,Finland,5,7.469,7.527542,7.410458,1.443572,1.540247,0.809158,0.617951,0.245483,0.382612,2.430182

In [16]:
# rename columns
data_2017.rename(columns = {'Happiness.Rank':'Happiness Rank','Happiness.Score':'Happiness Score','Whisker.low':'Lower Confidence Interval','Whisker.high':'Upper Confidence Interval','Economy..GDP.per.Capita.':'GDP','Health..Life.Expectancy.':'Life Expectancy','Trust..Government.Corruption.':'Corruption','Dystopia.Residual':'Dystopia Residual'}, inplace = True)

In [17]:
# checking dimensions
data_2017.shape

(155, 12)

In [18]:
# check the descriptive stats
data_2017.describe()

,Happiness Rank,Happiness Score,Upper Confidence Interval,Lower Confidence Interval,GDP,Family,Life Expectancy,Freedom,Generosity,Corruption,Dystopia Residual
count,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000,155.000000
mean,78.000000,5.354019,5.452326,5.255713,0.984718,1.188898,0.551341,0.408786,0.246883,0.123120,1.850238
std,44.888751,1.131230,1.118542,1.145030,0.420793,0.287263,0.237073,0.149997,0.134780,0.101661,0.500028
min,1.000000,2.693000,2.864884,2.521116,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.377914
25%,39.500000,4.505500,4.608172,4.374955,0.663371,1.042635,0.369866,0.303677,0.154106,0.057271,1.591291
50%,78.000000,5.279000,5.370032,5.193152,1.064578,1.253918,0.606042,0.437454,0.231538,0.089848,1.832910
75%,116.500000,6.101500,6.194600,6.006527,1.318027,1.414316,0.723008,0.516561,0.323762,0.153296,2.144654
max,155.000000,7.537000,7.622030,7.479556,1.870766,1.610574,0.949492,0.658249,0.838075,0.464308,3.117485

In [19]:
# check the data types
data_2017.dtypes

Country                       object
Happiness Rank                 int64
Happiness Score              float64
Upper Confidence Interval    float64
Lower Confidence Interval    float64
GDP                          float64
Family                       float64
Life Expectancy              float64
Freedom                      float64
Generosity                   float64
Corruption                   float64
Dystopia Residual            float64
dtype: object

### 2018 Data

In [20]:
data_2018.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.632,1.305,1.592,0.874,0.681,0.202,0.393
1,2,Norway,7.594,1.456,1.582,0.861,0.686,0.286,0.340
2,3,Denmark,7.555,1.351,1.590,0.868,0.683,0.284,0.408
3,4,Iceland,7.495,1.343,1.644,0.914,0.677,0.353,0.138
4,5,Switzerland,7.487,1.420,1.549,0.927,0.660,0.256,0.357

In [21]:
# rename the columns
data_2018.rename(columns = {'Overall rank':'Happiness Rank','Country or region':'Country','Score':'Happiness Score','GDP per capita':'GDP','Healthy life expectancy':'Life Expectancy','Freedom to make life choices':'Freedom','Perceptions of corruption':'Corruption'}, inplace = True)

In [22]:
# checking dimensions
data_2018.shape

(156, 9)

In [23]:
# check the descriptive stats
data_2018.describe()

,Happiness Rank,Happiness Score,GDP,Social support,Life Expectancy,Freedom,Generosity,Corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,155.000000
mean,78.500000,5.375917,0.891449,1.213237,0.597346,0.454506,0.181006,0.112000
std,45.177428,1.119506,0.391921,0.302372,0.247579,0.162424,0.098471,0.096492
min,1.000000,2.905000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.453750,0.616250,1.066750,0.422250,0.356000,0.109500,0.051000
50%,78.500000,5.378000,0.949500,1.255000,0.644000,0.487000,0.174000,0.082000
75%,117.250000,6.168500,1.197750,1.463000,0.777250,0.578500,0.239000,0.137000
max,156.000000,7.632000,2.096000,1.644000,1.030000,0.724000,0.598000,0.457000

In [24]:
# check the data types
data_2018.dtypes

Happiness Rank       int64
Country             object
Happiness Score    float64
GDP                float64
Social support     float64
Life Expectancy    float64
Freedom            float64
Generosity         float64
Corruption         float64
dtype: object

### 2019 Data

In [25]:
data_2019.head()

,Overall rank,Country or region,Score,GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,1,Finland,7.769,1.340,1.587,0.986,0.596,0.153,0.393
1,2,Denmark,7.600,1.383,1.573,0.996,0.592,0.252,0.410
2,3,Norway,7.554,1.488,1.582,1.028,0.603,0.271,0.341
3,4,Iceland,7.494,1.380,1.624,1.026,0.591,0.354,0.118
4,5,Netherlands,7.488,1.396,1.522,0.999,0.557,0.322,0.298

In [26]:
# rename the columns
data_2019.rename(columns = {'Overall rank':'Happiness Rank','Country or region':'Country','Score':'Happiness Score','GDP per capita':'GDP','Healthy life expectancy':'Life Expectancy','Freedom to make life choices':'Freedom','Perceptions of corruption':'Corruption'}, inplace = True)

In [27]:
# checking dimensions
data_2019.shape

(156, 9)

In [28]:
# check the descriptive stats
data_2019.describe()

,Happiness Rank,Happiness Score,GDP,Social support,Life Expectancy,Freedom,Generosity,Corruption
count,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000,156.000000
mean,78.500000,5.407096,0.905147,1.208814,0.725244,0.392571,0.184846,0.110603
std,45.177428,1.113120,0.398389,0.299191,0.242124,0.143289,0.095254,0.094538
min,1.000000,2.853000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,39.750000,4.544500,0.602750,1.055750,0.547750,0.308000,0.108750,0.047000
50%,78.500000,5.379500,0.960000,1.271500,0.789000,0.417000,0.177500,0.085500
75%,117.250000,6.184500,1.232500,1.452500,0.881750,0.507250,0.248250,0.141250
max,156.000000,7.769000,1.684000,1.624000,1.141000,0.631000,0.566000,0.453000

In [29]:
# check the data types
data_2019.dtypes

Happiness Rank       int64
Country             object
Happiness Score    float64
GDP                float64
Social support     float64
Life Expectancy    float64
Freedom            float64
Generosity         float64
Corruption         float64
dtype: object

## 03. Consistency Checks

### 2015 Data

In [30]:
# checking for missing data
data_2015.isnull().sum()

Country              0
Region               0
Happiness Rank       0
Happiness Score      0
Standard Error       0
GDP                  0
Family               0
Life Expectancy      0
Freedom              0
Corruption           0
Generosity           0
Dystopia Residual    0
dtype: int64

In [31]:
# checking for duplicates
data_2015[data_2015.duplicated()]

Empty DataFrame
Columns: [Country, Region, Happiness Rank, Happiness Score, Standard Error, GDP, Family, Life Expectancy, Freedom, Corruption, Generosity, Dystopia Residual]
Index: []

In [32]:
# checking for mixed-types
for col in data_2015.columns.tolist():
    weird = (data_2015[[col]].applymap(type) != data_2015[[col]].iloc[0].apply(type)).any(axis=1)
    if len(data_2015[weird]) > 0:
        print(col)

### 2016 Data

In [33]:
# checking for missing data
data_2016.isnull().sum()

Country                      0
Region                       0
Happiness Rank               0
Happiness Score              0
Lower Confidence Interval    0
Upper Confidence Interval    0
GDP                          0
Family                       0
Life Expectancy              0
Freedom                      0
Corruption                   0
Generosity                   0
Dystopia Residual            0
dtype: int64

In [34]:
# checking for duplicates
data_2016[data_2016.duplicated()]

Empty DataFrame
Columns: [Country, Region, Happiness Rank, Happiness Score, Lower Confidence Interval, Upper Confidence Interval, GDP, Family, Life Expectancy, Freedom, Corruption, Generosity, Dystopia Residual]
Index: []

In [35]:
# checking for mixed-types
for col in data_2016.columns.tolist():
    weird = (data_2016[[col]].applymap(type) != data_2016[[col]].iloc[0].apply(type)).any(axis=1)
    if len(data_2016[weird]) > 0:
        print(col)

### 2017 Data

In [36]:
# checking for missing data
data_2017.isnull().sum()

Country                      0
Happiness Rank               0
Happiness Score              0
Upper Confidence Interval    0
Lower Confidence Interval    0
GDP                          0
Family                       0
Life Expectancy              0
Freedom                      0
Generosity                   0
Corruption                   0
Dystopia Residual            0
dtype: int64

In [37]:
# checking for duplicates
data_2017[data_2017.duplicated()]

Empty DataFrame
Columns: [Country, Happiness Rank, Happiness Score, Upper Confidence Interval, Lower Confidence Interval, GDP, Family, Life Expectancy, Freedom, Generosity, Corruption, Dystopia Residual]
Index: []

In [38]:
# checking for mixed-types
for col in data_2017.columns.tolist():
    weird = (data_2017[[col]].applymap(type) != data_2017[[col]].iloc[0].apply(type)).any(axis=1)
    if len(data_2017[weird]) > 0:
        print(col)

### 2018 Data

In [39]:
# checking for missing data
data_2018.isnull().sum()

Happiness Rank     0
Country            0
Happiness Score    0
GDP                0
Social support     0
Life Expectancy    0
Freedom            0
Generosity         0
Corruption         1
dtype: int64

In [40]:
# remove the missing data
data_2018.dropna(subset = ['Corruption'], inplace = True)

In [41]:
# checking for duplicates
data_2018[data_2018.duplicated()]

Empty DataFrame
Columns: [Happiness Rank, Country, Happiness Score, GDP, Social support, Life Expectancy, Freedom, Generosity, Corruption]
Index: []

In [42]:
# checking for mixed-types
for col in data_2018.columns.tolist():
    weird = (data_2018[[col]].applymap(type) != data_2018[[col]].iloc[0].apply(type)).any(axis=1)
    if len(data_2018[weird]) > 0:
        print(col)

### 2019 Data

In [43]:
# checking for missing data
data_2019.isnull().sum()

Happiness Rank     0
Country            0
Happiness Score    0
GDP                0
Social support     0
Life Expectancy    0
Freedom            0
Generosity         0
Corruption         0
dtype: int64

In [44]:
# checking for duplicates
data_2019[data_2019.duplicated()]

Empty DataFrame
Columns: [Happiness Rank, Country, Happiness Score, GDP, Social support, Life Expectancy, Freedom, Generosity, Corruption]
Index: []

In [45]:
# checking for mixed-types
for col in data_2019.columns.tolist():
    weird = (data_2019[[col]].applymap(type) != data_2019[[col]].iloc[0].apply(type)).any(axis=1)
    if len(data_2019[weird]) > 0:
        print(col)

## 04. Append Datasets
### Before appending, each dataset must be edited to:
### 1. Match the number of columns by removing unwanted columns
### 2. Match the order of the columns by reordering them
### 3. Add the year column 
### 4. Confirm the data types

### 2015 Data

In [46]:
data_2015.drop(columns = ['Region','Standard Error','Family','Dystopia Residual'], inplace = True)
data_2015 = data_2015[['Country','Happiness Rank','Happiness Score','GDP','Life Expectancy','Freedom','Generosity','Corruption']]
data_2015['Year'] = 2015

In [47]:
data_2015.head()

,Country,Happiness Rank,Happiness Score,GDP,Life Expectancy,Freedom,Generosity,Corruption,Year
0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.29678,0.41978,2015
1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.43630,0.14145,2015
2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.34139,0.48357,2015
3,Norway,4,7.522,1.45900,0.88521,0.66973,0.34699,0.36503,2015
4,Canada,5,7.427,1.32629,0.90563,0.63297,0.45811,0.32957,2015

In [48]:
data_2015.dtypes

Country             object
Happiness Rank       int64
Happiness Score    float64
GDP                float64
Life Expectancy    float64
Freedom            float64
Generosity         float64
Corruption         float64
Year                 int64
dtype: object

In [65]:
data_2015.shape

(158, 9)

### 2016 Data

In [49]:
data_2016.drop(columns = ['Region','Lower Confidence Interval','Upper Confidence Interval','Family','Dystopia Residual'], inplace = True)
data_2016 = data_2016[['Country','Happiness Rank','Happiness Score','GDP','Life Expectancy','Freedom','Generosity','Corruption']]
data_2016['Year'] = 2016

In [50]:
data_2016.head()

,Country,Happiness Rank,Happiness Score,GDP,Life Expectancy,Freedom,Generosity,Corruption,Year
0,Denmark,1,7.526,1.44178,0.79504,0.57941,0.36171,0.44453,2016
1,Switzerland,2,7.509,1.52733,0.86303,0.58557,0.28083,0.41203,2016
2,Iceland,3,7.501,1.42666,0.86733,0.56624,0.47678,0.14975,2016
3,Norway,4,7.498,1.57744,0.79579,0.59609,0.37895,0.35776,2016
4,Finland,5,7.413,1.40598,0.81091,0.57104,0.25492,0.41004,2016

In [51]:
data_2016.dtypes

Country             object
Happiness Rank       int64
Happiness Score    float64
GDP                float64
Life Expectancy    float64
Freedom            float64
Generosity         float64
Corruption         float64
Year                 int64
dtype: object

In [66]:
data_2016.shape

(157, 9)

### 2017 Data

In [52]:
data_2017.drop(columns = ['Lower Confidence Interval','Upper Confidence Interval','Family','Dystopia Residual'], inplace = True)
data_2017 = data_2017[['Country','Happiness Rank','Happiness Score','GDP','Life Expectancy','Freedom','Generosity','Corruption']]
data_2017['Year'] = 2017

In [53]:
data_2017.head()

,Country,Happiness Rank,Happiness Score,GDP,Life Expectancy,Freedom,Generosity,Corruption,Year
0,Norway,1,7.537,1.616463,0.796667,0.635423,0.362012,0.315964,2017
1,Denmark,2,7.522,1.482383,0.792566,0.626007,0.355280,0.400770,2017
2,Iceland,3,7.504,1.480633,0.833552,0.627163,0.475540,0.153527,2017
3,Switzerland,4,7.494,1.564980,0.858131,0.620071,0.290549,0.367007,2017
4,Finland,5,7.469,1.443572,0.809158,0.617951,0.245483,0.382612,2017

In [54]:
data_2017.dtypes

Country             object
Happiness Rank       int64
Happiness Score    float64
GDP                float64
Life Expectancy    float64
Freedom            float64
Generosity         float64
Corruption         float64
Year                 int64
dtype: object

In [67]:
data_2017.shape

(155, 9)

### 2018 Data

In [55]:
data_2018.drop(columns = ['Social support'], inplace = True)
data_2018 = data_2018[['Country','Happiness Rank','Happiness Score','GDP','Life Expectancy','Freedom','Generosity','Corruption']]
data_2018['Year'] = 2018

In [56]:
data_2018.head()

,Country,Happiness Rank,Happiness Score,GDP,Life Expectancy,Freedom,Generosity,Corruption,Year
0,Finland,1,7.632,1.305,0.874,0.681,0.202,0.393,2018
1,Norway,2,7.594,1.456,0.861,0.686,0.286,0.340,2018
2,Denmark,3,7.555,1.351,0.868,0.683,0.284,0.408,2018
3,Iceland,4,7.495,1.343,0.914,0.677,0.353,0.138,2018
4,Switzerland,5,7.487,1.420,0.927,0.660,0.256,0.357,2018

In [57]:
data_2018.dtypes

Country             object
Happiness Rank       int64
Happiness Score    float64
GDP                float64
Life Expectancy    float64
Freedom            float64
Generosity         float64
Corruption         float64
Year                 int64
dtype: object

In [68]:
data_2018.shape

(155, 9)

### 2019 Data

In [58]:
data_2019.drop(columns = ['Social support'], inplace = True)
data_2019 = data_2019[['Country','Happiness Rank','Happiness Score','GDP','Life Expectancy','Freedom','Generosity','Corruption']]
data_2019['Year'] = 2019

In [59]:
data_2019.head()

,Country,Happiness Rank,Happiness Score,GDP,Life Expectancy,Freedom,Generosity,Corruption,Year
0,Finland,1,7.769,1.340,0.986,0.596,0.153,0.393,2019
1,Denmark,2,7.600,1.383,0.996,0.592,0.252,0.410,2019
2,Norway,3,7.554,1.488,1.028,0.603,0.271,0.341,2019
3,Iceland,4,7.494,1.380,1.026,0.591,0.354,0.118,2019
4,Netherlands,5,7.488,1.396,0.999,0.557,0.322,0.298,2019

In [60]:
data_2019.dtypes

Country             object
Happiness Rank       int64
Happiness Score    float64
GDP                float64
Life Expectancy    float64
Freedom            float64
Generosity         float64
Corruption         float64
Year                 int64
dtype: object

In [69]:
data_2019.shape

(156, 9)

### Appending

In [61]:
combined_data = data_2015.append(data_2016)
combined_data = combined_data.append(data_2017)
combined_data = combined_data.append(data_2018)
combined_data = combined_data.append(data_2019)

C:\Users\thang\AppData\Local\Temp\ipykernel_14656\3512606278.py:1: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = data_2015.append(data_2016)
C:\Users\thang\AppData\Local\Temp\ipykernel_14656\3512606278.py:2: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data_2017)
C:\Users\thang\AppData\Local\Temp\ipykernel_14656\3512606278.py:3: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data_2018)
C:\Users\thang\AppData\Local\Temp\ipykernel_14656\3512606278.py:4: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  combined_data = combined_data.append(data_2019)

In [62]:
combined_data.head()

,Country,Happiness Rank,Happiness Score,GDP,Life Expectancy,Freedom,Generosity,Corruption,Year
0,Switzerland,1,7.587,1.39651,0.94143,0.66557,0.29678,0.41978,2015
1,Iceland,2,7.561,1.30232,0.94784,0.62877,0.43630,0.14145,2015
2,Denmark,3,7.527,1.32548,0.87464,0.64938,0.34139,0.48357,2015
3,Norway,4,7.522,1.45900,0.88521,0.66973,0.34699,0.36503,2015
4,Canada,5,7.427,1.32629,0.90563,0.63297,0.45811,0.32957,2015

In [64]:
combined_data.shape

(781, 9)

## 05. Exporting

In [63]:
combined_data.to_pickle(os.path.join(path, 'Edited', 'World_Happiness_Data.pkl'))